*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box
}

body{
    margin:0px;
}

.header{
    display: flex;
    max-width: 1296px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
    justify-content: flex-end;
    align-items: center;
}

.header h1{
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    padding: 28px 24px;
    float: left;
    width: 100%;
}

.nav{
    position: relative;
    float: right;
    display: flex;
    align-items: center;
}
.nav a{
    display: inline;
    padding: 28px 24px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.frontimagewrapper{
    width: 100%;
    max-width: 1296px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
}

.frontimagewrapper img{
    display: inline-block;
    max-width: 100%;
    border-radius: 10px;
}

.frontpagetext{
    width: 100%;
    max-width: 1296px;
    margin-right: auto;
    margin-bottom: 100px;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
}

.section{
    display: block;
    max-width: 748px;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    text-align: center;
}

.section h2{
    line-height: 44px;
    margin-top: 24px;
    color: #130b2c;
    font-size: 34px;
    text-align: left;
}

.section p {
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    column-count: 1;
}
p {
    margin-bottom: 24px;
    color: #666a70;
    line-height: 25px;
    font-weight: 300;
}

.searchbar{
    text-align: left;
    display: block;
    max-width: 748px;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.searchbar label{
    font-weight: 800;
    display: block;
    margin-bottom: 7px;
    color: #130b2c;
    font-size: 15px;
    line-height: 20px;
}

.searchbar input{
    height: 60px;
    margin-bottom: 24px;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 500;
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-appearance: none;
}

h6{
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Montserrat,sans-serif;
    color: #130b2c;
    font-weight: 700;
}

.filterbuttons{
    text-align: left;
    margin-bottom: 60px;
    display: block;
    max-width: 748px;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#results{
    display: flex;
    max-width: 1296px;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    padding-right: 24px;
    padding-left: 24px;
    justify-content: space-between;
    background-color: transparent;
}

.card{
    width: 31%;
    position: relative;
    float: left;
    min-height: 1px;
    margin-left: 10px;
    margin-right: 10px;
    height: 400px;
    margin-bottom: 24px;
    border-radius: 10px;
    background-color: #e8edf4;
    text-decoration: none;
    cursor: pointer;
    
}

.cardImgWrapper{
    display: block;
    overflow: hidden;
    height: 194px;
    justify-content: flex-end;
    align-items: stretch;
    border-bottom: 6px solid #fc2d75;
    border-radius: 10px 10px 0 0;
    background-position: 50% 50%;
    background-size: cover;
    object-fit: cover;
    position: relative;
}

.cardContent{
        position: relative;
        display: flex;
        min-height: 180px;
        padding: 36px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
}

.cardContent h3{
    margin-top:0px;
    margin-bottom: 5px;
}

.cardImg{
    width: 100%;
    height: auto;
    position: absolute;
    object-fit: cover;
}

.cardImgOverlay{
    position: relative;
    height: 100%;
    padding: 36px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    flex: 1;
    display: flex;
    background-color: rgba(19,11,44,.6);
}

.cardGenre{
    display: inline-block;
    margin-bottom: 24px;
    padding: 3px 9px 3px 12px;
    border-radius: 10px;
    background-color: #fff;
    color: #fc2d75;
    font-size: 10px;
    line-height: 22px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.cardExcerpt{
    clear: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
